# Ignoriert temporäre Dateien und Build-Artefakte
*.bak
*.tmp
*.log

# Ignoriert IDE-spezifische Dateien
.idea/
*.iml

# VS Code-Einstellungen
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Ignoriert Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db
*.ps1

# Ignoriert kompilierte Dateien
*.class
*.jar
*.pyc

# Sonstige Dateien
docs/*